section{
    width: 100%;
    height: auto;
    padding:3rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 20px;
    flex-direction: column;

    & h1{
        color: $secondary-color;
        text-align: center;
        font-size: 40px;
    }

   
    & .cards{
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // gap: 3rem;

        & .card{
            border-radius: $br4;
            padding: 2rem;
            text-align: center;
            height: auto;
            @include flex-center;
            flex-direction: column;
            gap: 2rem;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            @include transition-ease;
          

            & svg{
                width: 100px;
                height: 100px;
                object-fit: contain;
                color: $secondary-color;
                
            }
            & h3{
                font-size: 24px;
                color: $secondary-color;
            }
            & p{
                line-height: 2;
                font-size: 14px;
                flex-grow: 1;
            }


           
            &__link{
                text-decoration: none;
                line-height: 2;
                font-weight: 600;
                width: 100%;
                height: 40px;
                background: none;
                border: 2px solid $secondary-color ;
                border-radius: $br4;
                color: $secondary-color;
                @include transition-ease
                
            }
            &:hover .card__link{
                background-color: $secondary-color;
                color: white;
                cursor: pointer;
            }

            &:hover{
                transform: scale(1.05);
                cursor: pointer;
            }
        }
       
       
    }

   
}
.start_cont{
   @include flex-center;
    margin-bottom: 50px;
}
 .start{
        background-color: $secondary-color;
        color: white;
        text-decoration: none;
        padding: .8rem 4rem;
        border-radius: 1rem;
       font-weight: 700;

    }
    .slider-container{
        max-width: 1120px;
        width: 100%;
        padding: 40px 0;
    }
    .slider-content, .testimonial-swiper{
        margin: 0 40px;
        border-radius: $br4;
    }

    .swiper-nav{
        color: $sub-color;
        @include transition-ease;

        &:hover{
            color: $secondary-color;
        }
        &::before, &::after{
            font-size: 40px;
        }
    }
    .swiper-button-next{
        right: 0;
    }
    .swiper-button-prev{
        left: 0;
    }
    .swiper-pagination-bullet{
        background-color: $sub-color;

        &-active{
            background-color: $secondary-color;
        }
    }
