@import 'config';


.converter-wrapper{
    // min-width: 400px;
    width: 400px;
    background-color: $primary-color;
    border-radius: $br4;
    padding: 2rem 2rem;
    box-shadow: 3px 3px 10px $secondary-color;
}

.converter-inputs{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3rem;
    align-items: center;
   
    & > div{
        margin-bottom: 1rem;
    }
    & label{
    color: $sub-color;
    margin-bottom: .2rem;
    display: block;
    }
    & input, & select{
        border: 0;
        border-bottom: 1px solid black;
        background: $primary-color;
        color: white;
        border-radius: 4px;
        font-size: 1rem;
        padding: .5rem;
        outline: 0;
        width: 100%;
    }

}

.icon{
    @include flex-center;
    margin-bottom: 0 !important;

    & i{
        font-size: 36px;
        color: white;
    }

    & button{
        background-color: $secondary-color;
        padding: 10px;
        color: white;
        border-radius: 100%;
        outline: 0;
        cursor: pointer;
        @include transition-ease;

        &:hover{
        transform: scale(1.1);
    }
    }
    
}

.hr{
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid $sub-color;
}

.result-wrapper{
    font-size: 1.2rem;
}
#from-result{
    color: $secondary-color;
    font-weight: bold;
}
#to-result{
    color: $sub-color;
    font-weight: bold;
}
#convert-btn{
    width: 100%;
    background-color: $secondary-color;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
    margin-top: 1.6rem;
    cursor: pointer;
}
.select{
   @include flex-center;

    & .flag-icon img{
        width: 30px;
    }
}