@media only screen and (max-width: 1000px) {
    .hero{
        flex-direction: column;
        
    &__left{
        text-align: center;

        & h1{
            font-size: 5vw !important;
        }

    }
}
    .rate-cards{
       display: none;
    }

    .converter-wrapper{
        width: 600px;
    }
    
    .converter-inputs{
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }
    .result-wrapper{
        text-align: center;
    }

    .widget{
        flex-direction: column;
        gap: 50px;
    
        &__left{
            & h1{
                font-size: 3vw;
            }

            hr{
                width: 100%;
                margin-block: 40px;
                border: 1px solid $secondary-color;
            }
            
            ul {
                li{
                    font-size: 1.7vw;
                }
            }
        }
    }  

}

@media only screen and (max-width: 768px) {
    .navbar{
        justify-content: space-between;
        padding: 0 30px;
        
        & .logo{
            width:36%;
            padding-block: 5px;

           & img{
            width: 90%;
           }
        }
      
        & .links{
           background: url('../images/bg2.jpg');
           
            position: fixed;
            z-index: 9;
            left: 0;
            right: 0;
            top: 70px;
            bottom: 100%;
            width: auto;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin-right: 0;
           @include transition-ease;
            

            & a{
                font-size: 20px;
           


                &:hover{
                    color: white;
                    text-decoration: underline;
                    // transform: scale(2);
                   
                }
            }
  
        }
        & .signin{
            display: none;
        }

        & .icon-burger{
            display: block;
        }

        & :checked ~ .links{
            bottom: 0;
        }
        & :checked ~ .icon-burger .line:nth-child(1){
            transform: translateY(8.3px) rotate(225deg);
        }
        & :checked ~ .icon-burger .line:nth-child(3){
            transform: translateY(-8.3px) rotate(-225deg);
        }
        & :checked ~ .icon-burger .line:nth-child(2){
            opacity: 0;
        }
    }

    .block{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .widget__left{
        & h1{
            font-size: 4vw;
        }
        & p{
            font-size: 2.5vw;

        }
        & ul li{
            font-size: 2.5vw;
        }
    }
  

}

@media only screen and (max-width: 680px) {
    .bg{
        background-position: left;
    }
    .hero{
        flex-direction: column;
    
    &__left{
        text-align: center;

        & h1{
            font-size: 6vw !important;
            
        }
        & p{
            font-size: 2.5vw !important;
        }

    }
}
    
    .converter-wrapper{
        width: 400px;
    }
    
    .converter-inputs{
        grid-template-columns: 1fr;
        column-gap: 5rem;
    }
}

@media only screen and (max-width: 580px) {
    .navbar .logo{
        width: 40%;
        padding-block: 5px;
        
       & img{
        width: 100%;
       }
    }

    .converter-wrapper{
        width: 100%;
    }

    .trade-widget{
        display: none;
    }
    .live-rates{
        display: block;
        text-align: center;
    }
    section{
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .hero{
       
        &__left{
           
            & h1{
                font-size: 8vw !important;
                
            }
            & p{
                font-size: 4vw !important;
            }
    
        }
    }

    .widget__left{
        & h1{
            font-size: 5vw;
        }
        & p{
            font-size: 3.5vw;

        }
        & ul li{
            font-size: 3.5vw;
        }
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 350px) {
    .navbar .logo{
        width: 50%;
        padding-block: 5px;

       & img{
        width: 100%;
       }
    }
   
    .slider-content, .testimonial-swiper{
        margin: 0 10px;
    }
    .footer__links{
        flex-direction: column;
    }
   
    section h1{
        font-size: 10vw;
    }
    .testimonials-container .testimonials{
        width: 100%;
        
        & .info{
            flex-direction: column;

            & .blob{
                display: none;
            }
        }
        .quotes{
            top: -53px;
            left: 0px;
            z-index: -99;
            color: $secondary-color;
            opacity: .5;
        }
        
        .testimonial{
            text-align: center;
            margin-left: 0px;
        }
    
}
}