@import 'config';
@import 'nav';
@import 'mainSection';
@import 'converter';
@import 'cards';
@import 'rates';
@import 'testimonials';
@import 'footer';
@import 'SignIn';
@import 'about';
@import 'send';
@import 'responsive';

*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $main-font;
}
header{
    height: 70px;
}
