.wrapper{
   height: 100vh ;

   form{
    width: 40%;
    height: auto;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0px 10px 3px $secondary-color;
    h1{
        text-align: center;
        color: $secondary-color
    }

    .form__wrapper{
        padding-block: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        input{
            width: 100%;
            height: 40px;
            border: none;
            background-color: rgb(214, 202, 202);
            padding-left: 5px;
            @include transition-ease;

            &:focus{
                border: none;
                outline: none;
                border-bottom: 2px solid $secondary-color;
            }

            &::placeholder{
                color: $primary-color;
            }
    
        }
        button{
            padding: 15px 50px;
            background-color: $secondary-color;
            border: none;
            color: white;
            font-size: 14px;
            border-radius: 3px;
            @include transition-ease;

            &:hover{
                background-color: $sub-color;
                cursor: pointer;
            }
        }
    }
    p{
        font-size: 13px;
        text-align: center;

        a{
            color: $secondary-color;
        }
    }
   
   }
  
}