
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.test{
    background-color: rgba(237, 168, 31, .5);
    padding-bottom: 6rem;
}
.test h1{
    color: $primary-color;

    & span{
        text-decoration: underline $secondary-color;
    }
   
}


.testimonials-container{

    .testimonials{
        width: 100%;
        
        & .info{
            @include flex-center;
            gap: 40px;

                & .blob{
                    background: url('../images/blob.svg');
                    background-repeat: no-repeat;
                    opacity: .2;
                    background-size: cover;
                    width:400px;
                    height: 400px;
                    margin-left: -80px;
                    margin-bottom: -70px;
                    background-position: left center;
                    position: absolute;
                    z-index: -1;

                }

                  img{
                width: 100px;
                height: 100px;
                object-fit: contain;
                background-color: $secondary-color;
                padding-top: 5px;
                border-radius: 50%;
            }
            }

            .name{
                font-weight: 600;
                font-size: 20px;
            }

            .location{
                color: $sub-color;
            }

        }
        .quotes{
            font-size: 120px;
            font-family: 'Secular One';
            padding: 0;
            margin-left: 100px;
            height: 30px;
            position: relative;
            top: -53px;
            left: -40px;
            
        }
        .testimonial{
            margin-left: 100px;
            font-size: 22px;
            font-style: italic;
        }
        
        &:hover{
            cursor: pointer;
        }

    }

